body {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 153, 153, 1) 100%
  );
}

.container {
  width: 900px;
  margin-top: 40px;
  padding: 0;
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px 5px;
}

.containerClear,
.containerCloudy,
.containerMist,
.containerRaining,
.containerSnow,
.containerSunny,
.containerThunderstorm {
  background-repeat: no-repeat;
  background-size: cover;
  width: 540px;
  height: 540px;
  border-radius: 30px;
}

.containerClear {
  background-image: url("../media/background-gif/clear.gif");
}

.containerCloudy {
  background-image: url("../media/background-gif/clouds.gif");
}

.containerMist {
  background-image: url("../media/background-gif/mist.gif");
}

.containerRaining {
  background-image: url("../media/background-gif/rain.gif");
}

.containerSnow {
  background-image: url("../media/background-gif/snow.gif");
}

.containerThunderstorm {
  background-image: url("../media/background-gif/thunderstorm.gif");
}

.col-name {
  margin: 30px 35px;
}

h1 {
  color: white;
  display: inline;
  font-size: 18px;
  font-weight: 300;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.containerLocation {
  color: white;
  display: inline-block;
  width: 200px;
  margin: 25px 35px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(96, 96, 96, 0.7);
}

i {
  color: white;
  margin-left: 5px;
}

.fa-location-dot {
  margin-top: 9px;
  margin-left: 15px;
}

.col-md-auto {
  padding: 0 0 3px 5px;
  line-height: 90%;
  margin-top: -0.208em;
}

.location-box {
  width: 120px;
  padding: 0 5px;
  margin: 0;
}

ul li {
  display: inline-block;
  line-height: 100%;
}

.current-location {
  font-size: 8px;
}

.current-weather {
  font-size: 12px;
  font-weight: 600;
}

.central {
  width: 540px;
  display: inline-block;
  text-align: center;
  padding: 0px;
  margin-top: 125px;
}

.col-humor-quote {
  color: white;
  display: block;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 auto;
}

#quote {
  margin: 0 auto;
  text-shadow: rgb(0, 0, 0) 2px 0 10px;
}

.srcLine {
  width: 100px;
  height: 5px;
}

/* added cod start */

.wrapper {
  width: 100%;
  max-width: 400px;
  margin: 10px auto 0 auto;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 35px;
  background: rgb(255, 255, 255, 0.3);
  border: none;
  border-radius: 10px;
  padding: 0 56px 0 14px;
  font-size: 14px;
}

input::placeholder {
  color: rgb(255, 255, 255, 0.7);
  letter-spacing: 0.05em;
}

#searchQuerySubmit {
  width: 56px;
  height: 35px;
  margin-left: -56px;
  padding-left: 20px;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

/* code end */
/* right part */

.today {
  display: block;
  font-size: 40px;
  font-weight: 700;
  margin: 14px 0 10px 0;
}

/* properties of container, the next one is forecast - hight: 150px */

.containerTodayWeather {
  width: 310px;
  height: 180px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px 5px;
}

.col-6 {
  margin-left: 15px;
  padding-right: 10px;
  width: 172px;
}

.generalInfo {
  padding: 1.78em 0em;
}

#temperature {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
}

/* celsius */

#units {
  font-size: 18px;
  font-weight: 500;
  color: #717c7d;
  position: relative;
  top: -13px;
  letter-spacing: 0px;
}

.celsius-link,
.fahrenheit-link {
  text-decoration: none;
  color: #717c7d;
}

.celsius-link:hover,
.fahrenheit-link:hover {
  opacity: 60%;
}

/* end */

.current-time-date {
  margin-top: 15px;
}

.col-1 {
  padding: 0;
  width: 15px;
}

.srcLineVertical {
  height: 160px;
  width: 2px;
  margin-top: 10px;
}

/* details */

.col-4 {
  margin: 0;
  padding: 0;
}

.details {
  color: #717c7d;
  font-size: 12px;
  padding: 18px 0;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.05em;
  width: 120px;
  margin: 0;
}

/* container_2 */

::-webkit-scrollbar {
  /* Webkit */
  width: 0;
  height: 0;
}

.hs {
  display: flex;
  height: 150px;
  overflow-x: scroll;
  justify-content: space-between;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  -webkit-overflow-scrolling: touch;
  padding: 10px 0 15px 0;
  margin-left: -10px;
}
.hs__header {
  display: flex;
  align-items: center;
  width: 100%;
}
.hs__headline {
  flex: 1;
}
.hs__arrows {
  align-self: center;
}
.hs__arrows .arrow:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
  background-size: contain;

  width: 18px;
  height: 12px;
  cursor: pointer;
}
.hs__arrows .arrow.disabled:before {
  filter: brightness(4);
}
.hs__arrows .arrow.arrow-prev:before {
  transform: rotate(90deg);
  margin-right: 10px;
}
.hs__arrows .arrow.arrow-next:before {
  transform: rotate(-90deg);
}
.hs__item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(100% / 6 - (10px * 2) - (20px / 6));
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media only screen and (max-width: 990px) {
  .hs__item {
    flex-basis: calc(100% / 4 - (10px * 2) - (20px / 4));
  }
}
.hs__item:last-child:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 1px;
  right: calc(10px * 2 * -1);
}

.hs__item__content__wrapper {
  position: relative;
  padding: 20px 12px 7px 12px;
  width: 125px;
  height: 125px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 10px 3px;
}

.hs__wrapper::before,
.hs__wrapper::after {
  content: "";
  width: 30px;
  height: 150px;
}

.hs__wrapper::before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(248, 248, 248, 0) 0%,
    rgb(255, 255, 255) 90.25%
  );
}

.hs__wrapper::after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(248, 248, 248, 0) 0%,
    rgb(255, 255, 255) 90.25%
  );
}

/* Base Styling Container-2*/

.container_2 {
  max-width: 320px;
  margin-top: 20px;
}

/* daily */
.forecast-daily-temperature {
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 2px;
}

.daily-description {
  margin-top: 25px;
}

/* footer */
footer {
  color: #a3a3a3;
  font-size: 11px;
  margin: 10px 270px;
}

.git-hub-repository,
.linkeding-profile {
  color: #717c7d;
  text-decoration: none;
}

.git-hub-repository:hover,
.linkeding-profile:hover {
  color: #717c7d;
  text-decoration: underline;
}
