body {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 153, 153, 1) 100%
  );
}

.container {
  width: 900px;
  margin-top: 40px;
  padding: 0;
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px 5px;
}

.containerClear,
.containerCloudy,
.containerMist,
.containerRaining,
.containerSnow,
.containerSunny,
.containerThunderstorm {
  background-repeat: no-repeat;
  background-size: cover;
  width: 540px;
  height: 540px;
  border-radius: 30px;
}

.containerClear {
  background-image: url("../src/video/clear.gif");
}

.containerCloudy {
  background-image: url("../src/video/clouds.gif");
}

.containerMist {
  background-image: url("../src/video/mist.gif");
}

.containerRaining {
  background-image: url("../src/video/rain.mp4");
}

.containerSnow {
  background-image: url("../src/video/snow.gif");
}

.containerSunny {
  background-image: url("../src/video/sunny.gif");
}

.containerThunderstorm {
  background-image: url("../src/video/thunderstorm.gif");
}

.col-name {
  margin: 30px 35px;
}

h1 {
  color: white;
  display: inline;
  font-size: 18px;
  font-weight: 300;
  text-shadow: rgb(96, 96, 96) 1px 0 10px;
}

.containerLocation {
  color: white;
  display: inline-block;
  width: 200px;
  margin: 25px 35px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(96, 96, 96, 0.7);
}

i {
  color: white;
  margin-left: 5px;
}

.fa-location-dot {
  margin-top: 9px;
  margin-left: 15px;
}

.col-md-auto {
  padding: 0 0 3px 5px;
  line-height: 90%;
  margin-top: -0.208em;
}

ul li {
  display: inline-block;
  line-height: 100%;
}

ul {
  width: 120px;
  padding: 0 5px;
  margin: 0;
}

.current-location {
  font-size: 8px;
}

.current-weather {
  font-size: 12px;
  font-weight: 600;
}

.central {
  width: 540px;
  display: inline-block;
  text-align: center;
  padding: 0px;
  margin-top: 125px;
}

.col-humor-quote {
  color: white;
  display: block;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 auto;
}

#quote {
  margin: 0 auto;
}

.srcLine {
  width: 100px;
  height: 5px;
}

/* added cod start */

.wrapper {
  width: 100%;
  max-width: 400px;
  margin: 10px auto 0 auto;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 35px;
  background: rgb(255, 255, 255, 0.3);
  border: none;
  border-radius: 10px;
  padding: 0 56px 0 14px;
  font-size: 14px;
}

input::placeholder {
  color: rgb(255, 255, 255, 0.7);
  letter-spacing: 0.05em;
}

#searchQuerySubmit {
  width: 56px;
  height: 35px;
  margin-left: -56px;
  padding-left: 20px;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

/* code end */
/* right part */

.today {
  display: block;
  font-size: 40px;
  font-weight: 700;
  margin: 14px 0 10px 0;
}

/* properties of container, the next one is forecast - hight: 150px */

.containerTodayWeather {
  width: 310px;
  height: 180px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px 5px;
}

.col-6 {
  margin-left: 15px;
  padding-right: 10px;
  width: 172px;
}

.generalInfo {
  padding: 1.78em 0em;
}

#temperature {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
}

/* celsius */

#units {
  font-size: 18px;
  font-weight: 500;
  color: #717c7d;
  position: relative;
  top: -13px;
  letter-spacing: 0px;
}

.celsius-link,
.fahrenheit-link {
  text-decoration: none;
  color: #717c7d;
}

.celsius-link:hover,
.fahrenheit-link:hover {
  opacity: 60%;
}

/* end */

.col-1 {
  padding: 0;
  width: 15px;
}

.srcLineVertical {
  height: 160px;
  width: 2px;
  margin-top: 10px;
}

/* details */

.col-4 {
  margin: 0;
  padding: 0;
}

.details {
  color: #717c7d;
  font-size: 12px;
  padding: 18px 0;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.05em;
}

/* footer */
footer {
  color: #a3a3a3;
  font-size: 11px;
  margin: 10px 100px;
}

.git-hub-repository,
.linkeding-profile {
  color: #717c7d;
  text-decoration: none;
}

.git-hub-repository:hover,
.linkeding-profile:hover {
  color: #717c7d;
  text-decoration: underline;
}
